__pycache__/
*.pkl
*.pyc
*.pyo
data/resume_matcher.db
models/
.env
.venv/
venv/
*.egg-info/
dist/
build/
.DS_Store
Thumbs.db
r e s u m e _ m a t c h e r . z i p  
 r e s u m e _ m a t c h e r . z i p  
 * . z i p  

# Firebase Credentials
*serviceAccount*.json
firebase-credentials.json
*.json.secret

# Local User File Uploads
backend/uploads/
uploads/

# Large resume dataset
data/Resume/Resume.csv